In [46]:
import pandas as pd
import numpy as np

In [47]:
test_df = pd.read_csv('processed_test.csv',low_memory=False)
data_df = pd.read_csv('PD.csv', names=['PD'],low_memory=False)

In [48]:
print("Test set",test_df.shape)
print("Probabilities",data_df.shape)

Test set (96779, 92)
Probabilities (96779, 1)

In [49]:
#test_df.head()

In [50]:
data_df['ERL'] = data_df['PD']*0.4
data_df['loan_amnt'] = test_df['loan_amnt'].astype('int')
data_df['int_rate'] = test_df['int_rate'].str.rstrip('%').astype('float')/ 100.0
data_df['ER'] = data_df['int_rate']-data_df['ERL']

data_df.head()

         PD       ERL  loan_amnt  int_rate        ER
0  0.004935  0.001974      15000    0.0532  0.051226
1  0.109972  0.043989      17000    0.0749  0.030911
2  0.038825  0.015530      20000    0.0532  0.037670
3  0.040959  0.016384      16000    0.1274  0.111016
4  0.159881  0.063952       2000    0.1699  0.105948

In [51]:
#test_df = pd.concat([test_df, data_df], axis=1)
#test_df.head()

In [52]:
np.savetxt("ER.csv", data_df, delimiter=",")