In [56]:
import pandas as pd
import numpy as np

In [58]:
test_df = pd.read_csv('processed_test.csv',low_memory=False)
data_df = pd.read_csv('PD.csv', names=['PD'],low_memory=False)

In [59]:
print("Test set",test_df.shape)
print("Probabilities",data_df.shape)

Test set (96779, 92)
Probabilities (96779, 1)

In [60]:
#test_df.head()

In [61]:
data_df['ERL'] = data_df['PD']*0.4
data_df['loan_amnt'] = test_df['loan_amnt'].astype('int')
data_df['int_rate'] = test_df['int_rate'].str.rstrip('%').astype('float')/ 100.0
data_df['ER'] = data_df['int_rate']-data_df['ERL']
data_df['target'] = test_df['target'].astype('int')



data_df.head()

         PD       ERL  loan_amnt  int_rate        ER  target
0  0.006106  0.002442      15000    0.0532  0.050758       0
1  0.114520  0.045808      17000    0.0749  0.029092       0
2  0.038442  0.015377      20000    0.0532  0.037823       0
3  0.043442  0.017377      16000    0.1274  0.110023       0
4  0.151494  0.060598       2000    0.1699  0.109302       0

In [51]:
#test_df = pd.concat([test_df, data_df], axis=1)
#test_df.head()

In [66]:
np.savetxt("ER.csv", data_df, delimiter=",")

### ER for Random Forest

In [22]:
data_df_rf = pd.read_csv('PD_rf.csv', names=['PD_rf'],low_memory=False)

In [24]:
data_df_rf['ERL'] = data_df_rf['PD_rf']*0.4

In [26]:
data_df_rf['loan_amnt'] = test_df['loan_amnt'].astype('int')

In [28]:
data_df_rf['int_rate'] = test_df['int_rate'].str.rstrip('%').astype('float')/ 100.0

In [30]:
data_df_rf['ER'] = data_df_rf['int_rate']-data_df_rf['ERL']

In [62]:
data_df_rf['target'] = test_df['target'].astype('int')

In [67]:
np.savetxt("ER_rf.csv", data_df_rf, delimiter=",")

In [63]:
data_df_rf.head()

   PD_rf   ERL  loan_amnt  int_rate      ER  target
0    0.0  0.00      15000    0.0532  0.0532       0
1    0.1  0.04      17000    0.0749  0.0349       0
2    0.1  0.04      20000    0.0532  0.0132       0
3    0.1  0.04      16000    0.1274  0.0874       0
4    0.1  0.04       2000    0.1699  0.1299       0

### ER for Balanced Random Forest

In [35]:
data_df_rf_balanced = pd.read_csv('PD_rf_balanced.csv', names=['PD_rf_balanced'],low_memory=False)

In [65]:
data_df_rf_balanced.head()

   PD_rf_balanced       ERL  loan_amnt  int_rate        ER  target
0        0.224779  0.089912      15000    0.0532 -0.036712       0
1        0.266305  0.106522      17000    0.0749 -0.031622       0
2        0.423858  0.169543      20000    0.0532 -0.116343       0
3        0.339771  0.135908      16000    0.1274 -0.008508       0
4        0.407001  0.162800       2000    0.1699  0.007100       0

In [41]:
print(data_df_rf_balanced.shape)

(96779, 1)

In [42]:
data_df_rf_balanced['ERL'] = data_df_rf_balanced['PD_rf_balanced']*0.4

In [44]:
data_df_rf_balanced['loan_amnt'] = test_df['loan_amnt'].astype('int')

In [45]:
data_df_rf_balanced['int_rate'] = test_df['int_rate'].str.rstrip('%').astype('float')/ 100.0

In [47]:
data_df_rf_balanced['ER'] = data_df_rf_balanced['int_rate']-data_df_rf_balanced['ERL']

In [64]:
data_df_rf_balanced['target'] = test_df['target'].astype('int')

In [68]:
np.savetxt("ER_rf_balanced.csv", data_df_rf_balanced, delimiter=",")